body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: #282828;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 40vw;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #282828;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button.secondary {
  background-color: white;
  color: #282828;
  border-color: #282828;
}

button:hover, button.secondary:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible,
button.secondary:focus,
button.secondary:focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid #282828;
  gap: 1px;
  background-color: #282828;
  border-radius: 8px;
  overflow: auto;
  cursor: pointer;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header img {
  margin-right: 10px;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

dialog::backdrop {
  background-image: linear-gradient(
          45deg,
          magenta,
          rebeccapurple,
          dodgerblue,
          green
  );
  opacity: 0.75;
}